#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

code {
  background-color: #111;
}

table { 
  border-collapse: collapse; }

tr {
  
  border: 1px solid white;

}

tr.row>td {
  padding: 12px;
  
}